VITE_BASE=/
# Public URL of apps/api
VITE_API_URL=https://api.example.com
# none, brotli, gzip (comma-separated)
VITE_COMPRESS=none
VITE_PWA=false
# hash or history
VITE_ROUTER_HISTORY=hash
VITE_INJECT_APP_LOADING=true
VITE_ARCHIVER=false
