:root {
  /* --taman-color-background: oklch(100% 0 0);
  --taman-color-text: oklch(32.92% 0.0072 248.05);
  --taman-color-text-dimmed: oklch(70% 0.012 286);
  --taman-color-text-highlighted: oklch(22% 0.008 248);
  --taman-color-sidebar: oklch(100% 0 0);
  --taman-color-sidebar-deep: oklch(96.35% 0.0042 258.32);
  --taman-color-border: oklch(91.97% 0.004 286.32);
  --taman-color-accent: oklch(96.8% 0.007 247.9);
  --taman-color-accent-foreground: oklch(21.02% 0.006 285.87);
  --taman-color-elevate: oklch(96.83% 0.0014 286.37);
  --taman-color-background-deep: oklch(96.35% 0.0042 258.32);
  --taman-color-header: oklch(100% 0 0);
  --taman-color-overlay: oklch(0 0 0 / 45%);
  --taman-color-muted: oklch(96.76% 0.0013 286.38);
  --taman-color-text-muted: oklch(55.19% 0.0137 285.94);
  --taman-color-card: oklch(100% 0 0);
  --taman-color-card-foreground: oklch(13.71% 0.036 258.53);
  --taman-color-input: oklch(91.97% 0.004 286.32); */

  /* Brands */
  /* --taman-color-primary-foreground: oklch(98.48% 0 0); */
}
