@layer theme {
  :root {
    --taman-radius: 0.5rem;

    --radius-sm: calc(var(--taman-radius) - 4px);
    --radius-md: calc(var(--taman-radius) - 2px);
    --radius-lg: var(--taman-radius);
    --radius-xl: calc(var(--taman-radius) + 4px);

    --taman-color-z-popup: 2000;
    --taman-color-z-toaster: 3000;
  }

  :root,
  :host,
  .light {
    --taman-color-text: oklch(0.3292 0.0072 248.05);
    --taman-color-text-dimmed: oklch(70.8% 0 0);
    --taman-color-text-muted: oklch(55.6% 0 0);
    --taman-color-text-toned: oklch(43.9% 0 0);
    --taman-color-text: oklch(37.1% 0 0);
    --taman-color-text-highlighted: oklch(20.5% 0 0);
    --taman-color-text-inverted: #fff;
    --taman-color-bg: #fff;
    --taman-color-bg-muted: oklch(98.5% 0 0);
    --taman-color-bg-elevated: oklch(97% 0 0);
    --taman-color-bg-accented: oklch(92.2% 0 0);
    --taman-color-bg-inverted: oklch(20.5% 0 0);
    --taman-color-bg-sidebar: #fff;
    --taman-color-bg-sidebar-deep: #fff;
    --taman-color-bg-header: #fff;
    --taman-color-border: oklch(92.2% 0 0);
    --taman-color-border-muted: oklch(92.2% 0 0);
    --taman-color-border-accented: oklch(87% 0 0);
    --taman-color-border-inverted: oklch(20.5% 0 0);
    --taman-color-primary-foreground: oklch(0.9848 0 0);
  }

  .dark {
    --taman-color-text: oklch(0.9619 0 0);
    --taman-color-text-dimmed: oklch(55.6% 0 0);
    --taman-color-text-muted: oklch(70.8% 0 0);
    --taman-color-text-toned: oklch(87% 0 0);
    --taman-color-text-highlighted: white;
    --taman-color-text-inverted: oklch(20.5% 0 0);
    --taman-color-bg: oklch(0.3082 0.0059 258.35);
    --taman-color-bg-muted: oklch(26.9% 0 0);
    --taman-color-bg-elevated: oklch(0.1996 0.0086 264.36);
    --taman-color-bg-accented: oklch(37.1% 0 0);
    --taman-color-bg-inverted: #fff;
    --taman-color-bg-sidebar: oklch(0.2347 0.0093 267.6);
    --taman-color-bg-sidebar-deep: oklch(0.1996 0.0086 264.36);
    --taman-color-bg-header: oklch(0.2347 0.0093 267.6);
    --taman-color-primary-foreground: oklch(0.9848 0 0);
    --taman-color-border: oklch(26.9% 0 0);
    --taman-color-border-muted: oklch(37.1% 0 0);
    --taman-color-border-accented: oklch(37.1% 0 0);
    --taman-color-border-inverted: #fff;
  }
}
